<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Success Page</title>
</head>
<body>
	<div layout:fragment="content">
		User Details
		<hr>
		<th:block th:object="${user}">
		User Name   : <span th:text="*{name}">Juan Perez</span>  <br/>
		Gender      : <span th:text="*{gender}">Male</span>  <br/>
		Country     : <span th:text="*{country}">Perú</span>  <br/>
		About You   : <span th:text="*{aboutYou}">Perú</span>   <br/>
		Community   : <span th:text="*{#strings.arrayJoin(community, ' ')}">Perú</span>   <br/>
		Mailing List: <span th:text="*{mailingList}">True</span>  
		</th:block>
		<br/>
		<a th:href="@{/users/add}" href="userForm.html">Add new</a>
		<a th:href="@{/users/loadUsers}" href="userList.html">Users</a>
	</div>
</body>
</html>